numpy
scipy
matplotlib
scikit-bio
seaborn
pandas
markdown2
networkx
qiime-default-reference <0.2.0
tabulate
https://github.com/gregcaporaso/An-Introduction-To-Applied-Bioinformatics/archive/master.zip
